[mysqld]
user=mysql
pid-file=/var/run/mysqld/mysqld.pid
socket=/var/run/mysqld/mysqld.sock
datadir=/var/lib/mysql
log-error=/var/log/mysql/error.log
character-set-server=utf8mb4
collation-server=utf8mb4_unicode_ci

# Set the default authentication plugin to mysql_native_password
default_authentication_plugin=mysql_native_password

# Disable DNS resolution
skip-name-resolve

# Allow connections from outside the container
bind-address=0.0.0.0

# Default values for innodb_buffer_pool_size and innodb_log_file_size
innodb_buffer_pool_size=128M
innodb_log_file_size=64M
